<%- include('../includes/head.ejs') %>

   </head>
   <body>
      <!-- Wrapper Start -->
      <div class="wrapper">
         <!-- Sidebar  -->
         <%- include('../includes/navigations.ejs') %>
         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            <!-- TOP Nav Bar -->
            <%- include('../includes/top-navbar.ejs') %>
            <!-- TOP Nav Bar END -->
            <div class="container-fluid">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Patients List</h4>
                           </div>
                        </div>
                     </div>
                  </div>
                  <% for(var i=0; i < pasient.length; i++) { %>
                     <div class="col-sm-6 col-md-3">
                        <div class="iq-card">
                           <div class="iq-card-body text-center">
                              <div class="doc-profile">
                                 <img class="rounded-circle img-fluid avatar-80" src="images/user/13.jpg" alt="profile">
                              </div>
                              <div class="iq-doc-info mt-3">
                                 <h4><%=  pasient[i].fullName.first.charAt(0).toUpperCase() + pasient[i].fullName.first.slice(1)  %>  <%= pasient[i].fullName.last.charAt(0).toUpperCase() + pasient[i].fullName.last.slice(1) %></h4>
                              </div>
                              <div class="iq-doc-description mt-2">
                                 <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor non erat non gravida. In id ipsum consequat</p>
                              </div>
                              <hr>
                              <ul class="doctoe-sedual d-flex align-items-center justify-content-between p-0 mt-3 mb-3">
                                 <li class="text-center">
                                    <h6 class="text-primary">Weight</h6>
                                    <h5>60<span>kg</span></h5>
                                 </li>
                                 <li class="text-center">
                                    <h6 class="text-primary">Height</h6>
                                    <h5>170<span>cm</span></h5>
                                 </li>
                                 <li class="text-center">
                                    <h6 class="text-primary">Goal</h6>
                                    <h5 class="text-warning">55<span>kg</span></h5>
                                 </li>
                              </ul>
                              <hr>
                              <a href="profile.html" class="btn btn-primary">View Profile</a>
                           </div>
                        </div>
                     </div>
                  <% } %>
               </div>
            </div>
            <!-- Footer -->
      <%- include('../includes/footer.ejs') %>
      <!-- Footer END -->
         </div>
      </div>
      <!-- Wrapper END -->
      <script>
         document.getElementById("home-doctor").classList.add("active"); 
      </script>
<%- include('../includes/end.ejs') %>

