<%- include('../includes/head.ejs') %>

</head>

<body>
  <!-- Wrapper Start -->
  <div class="wrapper">
    <!-- Sidebar  -->
    <%- include('../includes/navigations.ejs') %>
    <!-- Page Content  -->
    <div id="content-page" class="content-page">
      <!-- TOP Nav Bar -->
      <%- include('../includes/top-navbar.ejs') %>
      <!-- TOP Nav Bar END -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="iq-card">
              <div class="iq-card-header d-flex justify-content-between">
                <div class="iq-header-title">
                  <h4 class="card-title">Edit Data Naracoba</h4>
                </div>
              </div>
              <div class="iq-card-body">
                <div class="new-user-info">
                  <% var parsedData=JSON.parse(batukData[0].json_data); %>
                  <form action='/admin/data-batuk-naracoba-post?_csrf=<%= csrfToken %>' method='post'>
                    <div class="row">
                      <div class="form-group col-md-12">
                        <label for="full_name">Nama Lengkap</label>
                        <input type="text" class="form-control" name="full_name" placeholder="Nama Lengkap" value="<%= parsedData.nama %>" required>
                      </div>
                      <div class="form-group col-md-12">
                        <label for="birthday">Gender</label>
                          <input class="form-check-input" type="radio" id="gender_l" name="gender" value="L">
                          <label for="html" class="form-check-label">Laki Laki</label><br>
                          <input class="form-check-input" type="radio" id="gender_p" name="gender" value="P">
                          <label for="css" class="form-check-label">Perempuan</label><br>
                      </div>
                      <div class="form-group col-md-12">
                        <label for="birthday">Umur</label>
                        <input type="text" class="form-control" name="umur" value="<%= parsedData.umur %>" required>
                      </div>
                      <input type="hidden" name="uuid" value="<%= batukData[0].uuid %>">
                    </div>
                    <button type="submit" class="btn btn-primary">Edit Data Naracoba</button>
                  </form>
                  <script>
                    $("input[name=gender][value='<%= parsedData.gender %>']").prop('checked', true);
                </script>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <%- include('../includes/footer.ejs') %>
      <!-- Footer END -->
    </div>
  </div>
  <!-- Wrapper END -->
  <script>
    document.getElementById("add-device").classList.add("active");
  </script>
  <%- include('../includes/end.ejs') %>