<%- include('../includes/head.ejs') %>
</head>

<body>
   <!-- Wrapper Start -->
   <div class="wrapper">
      <!-- Sidebar  -->
      <%- include('../includes/navigations.ejs') %>
      <!-- Page Content  -->
      <div id="content-page" class="content-page">
         <!-- TOP Nav Bar -->
         <%- include('../includes/top-navbar.ejs') %>
         <!-- TOP Nav Bar END -->
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-12">
                  <div class="row">
                     <div class="col-md-6 col-lg-3">
                        <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                           <div class="iq-card-body iq-bg-primary rounded">
                              <div class="d-flex align-items-center justify-content-between">
                                 <div class="rounded-circle iq-card-icon bg-success"><i class="ri-cpu-line"></i></div>
                                 <div class="text-right">
                                    <h2 class="mb-0"><span class="counter" id="activeCountId">0</span></h2>
                                    <h5 class="">Active</h5>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-lg-3">
                        <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                           <div class="iq-card-body iq-bg-warning rounded">
                              <div class="d-flex align-items-center justify-content-between">
                                 <div class="rounded-circle iq-card-icon bg-warning"><i class="ri-cpu-line"></i></div>
                                 <div class="text-right">
                                    <h2 class="mb-0"><span class="counter" id="inactiveCountId">0</span></h2>
                                    <h5 class="">Inactive</h5>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-lg-3">
                        <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                           <div class="iq-card-body iq-bg-danger rounded">
                              <div class="d-flex align-items-center justify-content-between">
                                 <div class="rounded-circle iq-card-icon bg-danger"><i class="ri-cpu-line"></i></div>
                                 <div class="text-right">
                                    <h2 class="mb-0"><span class="counter" id="brokenCountId">0</span></h2>
                                    <h5 class="">Broken</h5>
                                 </div>
                              </div>
                           </div> 
                        </div> 
                     </div>
                  </div>
               </div>
               <div class="col-sm-12">
                  <div class="iq-card">
                     <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-search-bar">
                           <form action="#" class="searchbox">
                              <input type="text" class="text search-input" placeholder="Type here to search...">
                              <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
               <% 
               var activeCount = 0; 
               var inactiveCount = 0;
               var brokenCount = 0;
               for(var i=0; i < deviceList.length; i++) { %>
               <div class="col-sm-6 col-md-3">
                  <div class="iq-card">
                     <div class="iq-card-body text-center">
                        <div class="iq-doc-info mt-3">
                           <h4>
                              <%= deviceList[i].device_name %>
                           </h4>
                        </div>
                        <div class="iq-doc-description mt-2">
                           <p class="mb-0"><%= deviceList[i].description %></p>
                        </div>
                        <div class="iq-doc-description mt-2">
                           <p class="mb-0">Lokasi : <%= deviceList[i].location %></p>
                        </div>
                        <hr>
                        <ul class="doctoe-sedual d-flex align-items-center justify-content-between p-0 mt-3 mb-3">
                           <li class="text-center">
                              <h6 class="text-primary">Status</h6>
                              <% 
                              switch (deviceList[i].status) {
                                 case "Active": %>
                                 <h5 class="text-success"><%= deviceList[i].status %></span></h5>
                                 <% activeCount = activeCount + 1;
                                 break;
                                 case "Inactive": %>
                                 <h5 class="text-warning"><%= deviceList[i].status %></span></h5>
                                 <% inactiveCount = inactiveCount + 1;                                 
                                 break;
                                 case "Broken": %>
                                 <h5 class="text-danger"><%= deviceList[i].status %></span></h5>
                                 <% brokenCount = brokenCount + 1;
                                 break;
                              } %>
                           </li>
                           <li class="text-center">
                              <h6 class="text-primary">Type</h6>
                              <h5><%= deviceList[i].type %></h5>
                           </li>
                        </ul>
                        <hr>
                        <a href="/device-detail?device_id=<%= deviceList[i].device_id %>" class="btn btn-primary">View Detail</a>
                     </div>
                  </div>
               </div>
               <% } %>
               <script>
                  document.getElementById("activeCountId").innerText = <%= activeCount %>;
                  document.getElementById("inactiveCountId").innerText = <%= inactiveCount %>;
                  document.getElementById("brokenCountId").innerText = <%= brokenCount %>;
               </script>
            </div>
         </div>
         <!-- Footer -->
         <%- include('../includes/footer.ejs') %>
         <!-- Footer END -->
      </div>
   </div>
   <!-- Wrapper END -->
   <script>
      document.getElementById("device-list").classList.add("active");
   </script>
   <%- include('../includes/end.ejs') %>