<%- include('../includes/head.ejs') %>
<% function timeConverter(UNIX_timestamp) { var a=new Date(UNIX_timestamp * 1000).toLocaleString(); return a; } %>

</head>

<body>
  <!-- Wrapper Start -->
  <div class="wrapper">
    <!-- Sidebar  -->
    <%- include('../includes/navigations.ejs') %>
    <!-- Page Content  -->
    <div id="content-page" class="content-page">
      <!-- TOP Nav Bar -->
      <%- include('../includes/top-navbar.ejs') %>
      <!-- TOP Nav Bar END -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="iq-card">
              <div class="iq-card-body p-0">
                <div class="iq-edit-list">
                  <ul class="iq-edit-profile d-flex nav nav-pills">
                    <li class="col-md-6 p-0">
                      <a class="nav-link active" data-toggle="pill" href="#device-data">
                        Device Data
                      </a>
                    </li>
                    <li class="col-md-6 p-0">
                      <a class="nav-link" data-toggle="pill" href="#overview">
                        Device Detail
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="iq-edit-list-data">
              <div class="tab-content">
                <div class="tab-pane fade active show" id="device-data" role="tabpanel">
                  <% if(device[0].type=='audiometri' ){ %>
                  <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                      <div class="iq-header-title">
                        <h4 class="card-title">Device Data</h4>
                      </div>
                    </div>
                    <div class="iq-card-body">
                      <div style="overflow-x:auto;">
                        <table style="width: 100%;">
                          <colgroup>
                            <col span="1" style="width: 4%;">
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 20%;">
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 20%;">
                          </colgroup>
                          <tr>
                            <th>No</th>
                            <th>Time</th>
                            <th>Nama</th>
                            <th>Reserved Column</th>
                            <th>Aksi</th>
                          </tr>
                          <% for(var i=0; i < device_data.length; i++) { 
                                          var parsedData=JSON.parse(device_data[i].json_data)['audiogram']; 
                                          var dateString = new Date(device_data[i].time).toLocaleString();
                                          %>
                          <tr>
                            <td>
                              <%= i+1 %>
                            </td>
                            <td>
                              <%= dateString %>
                            </td>
                            <td>
                              <%= parsedData.tester %>
                            </td>
                            <td>
                              Reserved
                            </td>
                            <td>
                              <button class="btn btn-primary"
                                onclick="cekAudiogram('<%= JSON.stringify(parsedData) %>');">
                                Cek Audiogram
                              </button>
                            </td>
                          </tr>
                          <% } %>
                        </table>
                      </div>
                    </div>
                  </div>
                  <% } else if(device[0].type=='cough' ){ %>
                  <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                      <div class="iq-header-title">
                        <h4 class="card-title">Device Data</h4>
                      </div>
                    </div>
                    <div class="iq-card-body">
                      <div style="overflow-x:auto;">
                        <table style="width: 100%;">
                          <colgroup>
                            <col span="1" style="width: 4%;">
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 20%;">
                            <col span="1" style="width: 5%;">
                            <col span="1" style="width: 5%;">
                            <col span="1" style="width: 10%;">
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 20%;">
                          </colgroup>
                          <tr>
                            <th>No</th>
                            <th>Time</th>
                            <th>Nama</th>
                            <th>Gender</th>
                            <th>Umur</th>
                            <th>Type</th>
                            <th>Jenis Batuk</th>
                            <th>Aksi</th>
                          </tr>
                          <% for(var i=0; i < device_data.length; i++) { 
                                        var parsedData=JSON.parse(device_data[i].json_data); 
                                        var dateString = new Date(device_data[i].time).toLocaleString();
                                        var dateString2=timeConverter(device_data[i].time); %>
                          <tr>
                            <td>
                              <%= i+1 %>
                            </td>
                            <td>
                              <%= dateString %>
                            </td>
                            <td>
                              <%= parsedData.nama %>
                            </td>
                            <td>
                              <%= parsedData.gender %>
                            </td>
                            <td>
                              <%= parsedData.umur %>
                            </td>
                            <td>
                              <% if(device_data[i].cough == 0 ){ %>
                              Batuk
                              <% } else if(device_data[i].cough == 1 ){ %>
                              Non-Batuk
                              <% } else if(device_data[i].cough == 99 ){ %>
                              Processing.....
                              <% } %>
                            </td>
                            <td>
                              <% if(device_data[i].covid == 0 ){ %>
                              Non-Covid
                              <% } else if(device_data[i].covid == 1 ){ %>
                              Covid
                              <% } else if(device_data[i].covid == 99 ){ %>
                              Processing.....
                              <% } %>
                            </td>
                            <td>
                              <button class="btn btn-primary" onclick="cekSuaraBatuk('<%= parsedData.file_audio %>');">
                                Cek Suara Batuk
                              </button>
                            </td>
                          </tr>
                          <% } %>
                        </table>
                      </div>
                    </div>
                  </div>
                  <% } %>
                  <% if(device[0].type=='audiometri' ){ %>
                  <div class="iq-card" id="hasilaudiogram_div" style="display: none;">
                    <div class="iq-card-header d-flex justify-content-between">
                      <div class="iq-header-title">
                        <h4 class="card-title">Hasil Audiogram</h4>
                      </div>
                    </div>
                    <div class="iq-card-body">
                      <canvas id="myChart" width="400" height="200"></canvas>
                    </div>
                  </div>
                  <% } else if(device[0].type=='cough' ){ %>
                  <div class="iq-card" id="hasilbatuk_div" style="display: none;">
                    <div class="iq-card-header d-flex justify-content-between">
                      <div class="iq-header-title">
                        <h4 class="card-title">Hasil Suara Batuk</h4>
                      </div>
                    </div>
                    <div class="iq-card-body">
                      <div id="waveform" style="margin-bottom: 10px;"></div>
                      <div class="container">
                        <div class="row">
                          <div class="col text-center">
                            <div class="controls">
                              <button class="btn btn-primary" onclick="wavesurfer.playPause();"
                                style="margin-bottom: 10px;">
                                <i class="glyphicon glyphicon-play"></i>
                                Play
                                /
                                <i class="glyphicon glyphicon-pause"></i>
                                Pause
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="wave-spectrogram" style="margin-bottom: 10px;"></div>
                    </div>
                  </div>
                  <% } %>
                </div>
                <div class="tab-pane fade" id="overview" role="tabpanel">
                  <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                      <div class="iq-header-title">
                        <h4 class="card-title">Device Detail</h4>
                      </div>
                    </div>
                    <div class="iq-card-body">
                      <form>
                        <div class=" row align-items-center">
                          <div class="form-group col-sm-6">
                            <label for="fname">Device Name: </label>
                            <input type="text" class="form-control" id="lname" value="<%= device[0].device_name %>"
                              disabled>
                          </div>
                          <div class="form-group col-sm-6">
                            <label for="fname">Device Description: </label>
                            <input type="text" class="form-control" id="lname" value="<%= device[0].description %>"
                              disabled>
                          </div>
                          <div class="form-group col-sm-6">
                            <label for="fname">Location: </label>
                            <input type="text" class="form-control" id="lname" value="<%= device[0].location %>"
                              disabled>
                          </div>
                          <div class="form-group col-sm-6">
                            <label for="fname">Device Status: </label>
                            <input type="text" class="form-control" id="lname" value="<%= device[0].status %>" disabled>
                          </div>
                        </div>
                      </form>
                      <form action='/admin/delete-device?_csrf=<%= csrfToken %>' method='post'>
                        <input type="hidden" name="device_id" value="<%= device[0].device_id %>">
                        <button type="submit" class="btn btn-danger">Delete This Device</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="/js/wavesurfer.js"></script>
      <script src="/js/wavesurfer.spectrogram.js"></script>
      <% if(device[0].type=='audiometri' ){ %>
      <script>

      </script>
      <% } else if(device[0].type=='cough' ){ %>
      <script>
        var wavesurfer = "";
        WaveSurfer.util.fetchFile({
          url: '../assets/hot-colormap.json',
          responseType: 'json'
        }).on('success', colorMap => {
          //initAndLoadSpectrogram(colorMap); 
          wavesurfer = WaveSurfer.create({
            container: '#waveform',
            waveColor: 'purple',
            progressColor: 'blue',
            plugins: [
              WaveSurfer.spectrogram.create({
                wavesurfer: wavesurfer,
                container: "#wave-spectrogram",
                labels: true,
                colorMap: colorMap
              })
            ]
          });

        });
      </script>
      <% } %>
      <script>
        function cekSuaraBatuk(filebatuk) {
          document.getElementById("hasilbatuk_div").style.display = "";
          wavesurfer.load('/uploads/batuk/' + filebatuk);
        }

        function cekAudiogram(dataObject) {
          let chartStatus = Chart.getChart("myChart"); // <canvas> id
          if (chartStatus != undefined) {
            chartStatus.destroy();
          }
          document.getElementById("hasilaudiogram_div").style.display = "";
          var dataParsed = JSON.parse(dataObject)
          const ctx = document.getElementById('myChart').getContext('2d');
          var myChart = new Chart(ctx, {
            type: 'line',
            data: {
              labels: [], //125, 250, 500, 1000, 2000, 4000, 8000
              datasets: [{
                label: 'Left Ear',
                data: {
                  0: null,
                  500: dataParsed['ch_0']['freq_0']['ampl'],
                  1000: dataParsed['ch_0']['freq_1']['ampl'],
                  2000: dataParsed['ch_0']['freq_2']['ampl'],
                  4000: null,
                  8000: null,
                },
                borderColor: 'rgba(255, 99, 132, 1)',
                pointBorderColor: 'rgb(0, 0, 0)',
                pointStyle: 'rectRounded',
                pointRadius: 5,
                borderWidth: 5
              }, {
                label: 'Right Ear',
                data: {
                  0: null,
                  500: dataParsed['ch_1']['freq_0']['ampl'],
                  1000: dataParsed['ch_1']['freq_1']['ampl'],
                  2000: dataParsed['ch_1']['freq_2']['ampl'],
                  4000: null,
                  8000: null,
                },
                borderColor: 'rgba(54, 162, 235, 1)',
                pointBorderColor: 'rgb(0, 0, 0)',
                pointStyle: 'rectRot',
                pointRadius: 5,
                borderWidth: 5,
              }]
            },
            options: AUDIOGRAM_CHART_OPTIONS
          });
        }
      </script>
      <script>
        const AUDIOGRAM_CHART_OPTIONS = {
          responsive: true,
          scales: {
            x: {
              display: true,
              title: {
                display: true,
                text: 'Frequency in Hertz (Hz)',
                color: '#911',
                font: {
                  family: 'Times',
                  size: 20,
                  style: 'normal',
                  lineHeight: 1.2
                },
                padding: {
                  top: 30,
                  left: 0,
                  right: 0,
                  bottom: 15
                },

              },
              position: 'top'
            },
            y: {
              id: 'A',
              position: 'left',
              type: 'linear',
              display: true,
              title: {
                display: true,
                position: 'left',
                text: 'dB HL', //Hearing Level in dB
                font: {
                  size: 20,
                  style: 'normal',
                  lineHeight: 1.2
                },
                padding: {
                  top: 30,
                  left: 0,
                  right: 0,
                  bottom: 15
                },
              },
              reverse: false, //true
              min: 0,
              max: 9
            },
          },
          plugins: {
            legend: {
              display: true,
              align: 'center',
              position: 'bottom',
              usePointStyle: true,
            }
          }
        };
      </script>
      <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td,
        th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
          color: #000;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
      </style>

      <!-- Footer -->

      <%- include('../includes/footer.ejs') %>
      <!-- Footer END -->
    </div>
  </div>
  <!-- Wrapper END -->
  <%- include('../includes/end.ejs') %>